.home {
  background-color: $primary_color1;
  min-height: 100vh;
  padding: 1rem 2rem;
  > .slider {
    > div {
      img {
        width: 100%;
        border-radius: 10px;
        height: 70vh;
      }
    }
  }

  > .item_container {
    background-color: $white_color;
    margin-top: 1rem;
    min-height: 500px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    > a {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: calc(25% - 10px);
      text-decoration: none;

      > svg {
        font-size: 4rem;
        color: $primary_color;
        margin-bottom: 10px;
      }
      > p {
        text-align: center;
        color: $primary_color;
      }
      transition: all 0.3s;
      transform: scale(1);
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  > div {
    background-color: $white_color;
    margin-top: 1rem;
    padding: 0.5rem;
    text-align: center;
    color: $primary_color;
  }
}
